*{
  box-sizing: border-box; /* pour que les padding et margin ne modifient pas la taille de l'élément */
}

body{
  font-family: Arial, sans-serif;
  margin: 0; /* pour éviter les marges par défaut du navigateur */
  line-height: 1.5; /* hauteur de ligne pour la lecture à l'écran*/
  font-size: 16px; /* taille de la police de base */
  background-color: #ffffff;
}

img{
  max-width: 100%; /* pour que les images ne dépassent pas de leur conteneur */
  max-height: 100%; /* pour garder le ratio de l'image */
  object-fit: cover;
  justify-content: center;
  padding: 12px;
}

figure{
  margin: 0; /* pour éviter les marges par défaut du navigateur */
}

a {
font-style: italic;
text-decoration: none;
color: inherit;
}

.header{
display: grid; 
grid-template-columns: max-content max-content; 
justify-content: space-between; 
align-items: center; 
padding:0 24px; 
position: sticky; 
top:0; 
-webkit-backdrop-filter: blur(4px); 
backdrop-filter: blur(4px); 
z-index: 999; 
transition: background-color 0.5s ease; 
}

.header:hover{
box-shadow: none;
}

.logo {
transition: filter 0.3s ease; /* Transition pour une ombre douce */
padding: 0;
}

/* .logo:hover {
filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5)); 
} */


/* le logo */
.header h1{
margin: 6px 0; 
}

.header h1:hover{
filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}


/* mise en forme des titre du haut */
.header-nav{
display: grid;
grid-template-columns: max-content max-content max-content ;
gap:0 24px ;
}

.header-nav a{
color: #150015;
text-decoration: none;
}

.header-nav a:hover {
font-style: italic;
}

.intro a {
color: #150015;
text-decoration: none;
}

.intro a:hover {
font-style: italic;
}


/* mise en forme des infos du bas */
.footer{
  padding-left: 24px; 
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
  color: #150015;
  align-items: center; 
}
  
.footer a{
  color: #150015;
  text-decoration: none;
}
    
.footer a:hover {
  font-style: italic;
}


/* modification taille et écrans */
@media (min-width: 768px){
  .page-projet {
    grid-template-columns: 2fr 4fr;
  }

  .sticky{
    position: sticky;
    top: 120px;
    align-self: start;
  }
  .treslarge{
    grid-column: span 3;
  }

  .projets{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: 400px;
    gap: 24px;
    padding: 24px;
    justify-content: center;
  }

  .projet{
    padding: 8px;
  }
}
  
@media (max-width: 768px) and (min-width: 700px){
  .page-projet {
      grid-template-columns: 1fr; 
  }
  .treslarge{
    grid-column: span 3;
  }
  .projets{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: 400px;
    gap: 24px;
    padding: 24px;
    justify-content: center;
  }
  
  /* .text-content {
      margin-bottom: 20px; 
  } */
} 

@media (max-width: 700px) and (min-width: 400px) {
  .page-projet {
    grid-template-columns: 1fr; 
  }
  
  .treslarge{
    grid-column: span 3;
  }

  .projets{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-auto-rows: 250px;
    gap: 24px;
    padding: 12px;
    justify-content: center;
    box-sizing: border-box;}

  .projet{
    padding: 2px;
  }
} 


@media (max-width: 400px) {
  .treslarge{
    grid-column: span 2;
    /* justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;*/
  }
      
  .projet{
    padding: 2px;}

  .page-projet {
    grid-template-columns: 1fr; 
  }

  .projets{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: 250px;
    gap: 18px;
    padding: 12px;
    justify-content: center;
    box-sizing: border-box;}
}

@media (pointer: fine) {
  .projet img {
    transition: filter 0.3s ease; /* Transition douce pour le flou */
    filter: blur(5px);} 
   
  a {
    font-style: normal;}
   
  a:hover {
    font-style: italic;}
} 
   
@media (pointer: coarse) {
  .footer a {
    color: #ffffff;}
}

/*mise en forme des projets dans l'index*/
.projet{
color:#150015;
text-decoration: none;
text-align: center;
place-items: center;
opacity: 1;
transition: opacity 0.8s ease;
overflow: hidden;
} 

.projet.unactive{
opacity: 0.5;
filter: grayscale(1); 
z-index: -1;
}

.projet:hover{
/* transform: scale(1.1); */
box-shadow: 0px 4px 15px; 
}

.projet img{
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projet:hover img{
filter: blur(0);
}

.projet h2{
font-size: 16px;
font-weight: 400;
margin: 0;
}

.large{
grid-column: span 2;
grid-row: span 1;
justify-content: center;
width: 100%;
height: 100%;
/* object-fit: cover; */
overflow: hidden;
display: flex;
justify-content: center; 
align-items: center;
}

.treslarge{
grid-row: span 1;
justify-content: center;
width: 100%;
height: 100%;
object-fit: cover;
overflow: hidden;
place-items: center;
display: flex;
justify-content: center; 
align-items: center;
}


/* les projets */
.page-projet{
display: grid; 
gap: 24px;
padding: 24px;
justify-content: center;
}

.sticky{
margin: 0;
padding: 24px;
}

.sticky p{
margin: 0;
}

.sticky h2{
margin-top: 0; /* Pas d'espace avant */
margin-bottom: 16px; /* Ajoute un espace après */
}

.sticky h3{
margin-top: 8px; /* Pas d'espace avant */
margin-bottom: 8px; /* Ajoute un espace après */
}



.description a{
color: #150015;
text-decoration: none;
}

.description a:hover {
font-style: italic;}

.projet-image img{
  width: 100%;
  height: auto;
  max-height: 100vh; /* Limite la hauteur à celle de la fenêtre */
  object-fit: contain; /* S'assure que l'image est entièrement visible */
  }

  .projet-image{
    margin: 0;
    padding: 12px;
    /* align-self: flex-start; */
    position: relative;
  }


  .gridvideo {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* Style de la vidéo */
.gridvideo video {
width: 100%;
height: auto;
object-fit: cover; /* Assure que la vidéo couvre la cellule */
}

/* elever le flou */
  .projett{
  padding: 2px;
  place-items: center;
  /* display: grid; */
  /* transition: background-color 0.5s ease, box-shadow 0.5s ease; */
  overflow: hidden;
  } 
  
  .projett:hover{
  /* transform: scale(1.1); */
  box-shadow: 0px 4px 15px; 
  }

  .projett img{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    
  .projett h2{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    }

/* cv  */
.ligne2 {
display: grid;
padding-left: 5px;
grid-template-columns: 1fr 5fr;
align-items: start;
margin-top: 0;
padding-top: 0;
line-height: 1.2;
margin-bottom: 0;
padding-bottom: 0;
}

.ligne3 {
display: grid;
padding-left: 5px;
grid-template-columns: 1fr 2.5fr 2.5fr ;
align-items: start;
margin-top: 0;
padding-top: 0;
line-height: 1.2;
margin-bottom: 0;
padding-bottom: 0;
}

.element {
margin-top: 1.5px;
margin-bottom: 10px;
font-weight: normal;
}

.element-i {
margin-top: 1.5px;
margin-bottom: 10px;
margin-left: 1em;
font-style: italic;
font-size: small;
}

.titre {
font-weight: bold;
padding-left: 20px;
margin-top: 10px;
margin-bottom: 10px;
}

.annee {
font-weight: bold;
font-size: 18px;
margin-top: 0;
padding: 0;
margin-right: 0.75em;
}

.pif {
padding-left: 5px;
}

.intro {
padding: 24px;
}

.textintro {
padding: 24px;
width: 60%; /* Prend 90% de la largeur de l'écran */
max-width: 600px; /* Mais ne dépasse jamais 600px */
margin: 0 auto;
}