* {
  box-sizing: border-box;
  /* pour que les padding et margin ne modifient pas la taille de l'élément */
}

@font-face {
  font-family: estrella;
  src: url(font/EstrellaEarly.woff) format("woff");
}

@font-face {
  font-family: jetbrains;
  src: url(font/JetBrainsMono-Variable.ttf) format("opentype");
}


body {
  font-family: jetbrains;/* police de base */
  margin: 0;/* pour éviter les marges par défaut du navigateur */
  line-height: 1.3;/* hauteur de ligne pour la lecture à l'écran*/
  font-size: 15px;/* taille de la police de base */
  background-color: #ffffff;
}

img {
  max-width: 100%;/* pour que les images ne dépassent pas de leur conteneur */
  max-height: 100%;  /* pour garder le ratio de l'image */
  object-fit: cover;
  justify-content: center;
}

figure {
  margin: 0;  /* pour éviter les marges par défaut du navigateur */
}

a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

/* hearder index */
.header-haut {
  position: sticky;
  top: 0;
  z-index: 999;
  margin-bottom: 6px;
}

.headerr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 24px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 999;
  transition: background-color 0.5s ease;
  height: 8vh;
  grid-auto-rows: 8vh;
}

.logoo {
  line-height: 0;
}

.headerr> :first-child {
  justify-self: start;
}

.headerr> :last-child {
  justify-self: end;
}



/* mise en forme des titre du haut */
.header-nav {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 0 24px;
}



/* mise en forme des infos du bas */
.footer-index {
  color: #150015;
  height: 20px;
  padding-left: 24px;
  padding-right: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.footer-index p {
  margin-top: 0;
}

.footer-gauche {
  grid-column: span 1;
  display: flex;
  place-items: center;
}

.footer-droit {
  grid-column: 3;
  text-align: end;
  justify-self: end;
}

/*mise en forme des projets dans l'index*/
.projet {
  place-items: center;
  overflow: hidden;
}

.projet img {
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.large {
  grid-column: span 2;
  grid-row: span 1;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* responsive pour l'index*/
@media (min-width: 768px) {
  .projets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-auto-rows: 66.667vh;
    justify-content: center;
  }
}

@media (max-width: 768px) and (min-width: 700px) {
  .large {
    grid-column: span 1;
  } 

  .projets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-auto-rows: 66.667vh;
    justify-content: center;
  }
}

@media (max-width: 700px) and (min-width: 400px) {
  .large {
    grid-column: span 1;
  } 

  .projets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-auto-rows: 66.667vh;
    justify-content: center;
    box-sizing: border-box;
  }
}


@media (max-width: 400px) {
  .large{
    grid-column: span 2 ;
  }

  .projets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 33.333vh;
    justify-content: center;
    box-sizing: border-box;
  }
}


/* les projets */
.header {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 60px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(4px);
  z-index: 999;
  transition: background-color 0.5s ease;
  grid-auto-rows: 60px;
}

.logo-page {
  line-height: 0;
}

.header-nav-page {
  display: flex;
  text-align: right;
}

.page-projet {
  display: grid;
  padding-left: 0;
  justify-content: center;
}

.description p {
  margin: 0;
  padding-bottom: 8px;
}

@font-face {
  font-family: estrella;
  src: url(font/Estrella-Early.woff) format("woff");
}
.description h2 {
  font-family: estrella;
  font-size: 54px;
  margin-top: -20px;
  margin-bottom: 16px;
  line-height: 1;
}

.projet-image img {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
}

.projet-image {
  margin: 0;
  position: relative;
}

@media (min-width: 700px) {
  .bas-grand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 48px;
  }

  .page-projet {
    grid-template-columns: 2fr 4fr;
  }
  
  .left {
    position: sticky;
    top: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  .description {
    align-self: center;
    margin: 0 auto;
    padding: 12px;
    text-align: left;
  }
}

@media (max-width: 700px) {

  .page-projet {
    gap: 12px;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); */
  }
  
  .left {
    gap:12px;
  }

  .header{
    position: fixed;
    z-index: 998;
    align-items: center;
    top:0;
    width : 100%;
  }

  .header img {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
    height: auto;
    pointer-events: auto;
  }

  .bas-grand{
    position: fixed;
    z-index: 999;
    top:0;
    width : 100%;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    pointer-events: none;
  }

  .bas-grand *{
    pointer-events: auto;
  }

  .description {
    margin-top: 72px;
    padding: 12px;
    text-align: left;
  }
  
}



/* Style de la vidéo */
.gridvideo {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.gridvideo video {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/* cv  */
.ligne2 {
  display: grid;
  padding-left: 5px;
  grid-template-columns: 1fr 5fr;
  align-items: start;
  margin-top: 0;
  padding-top: 0;
  line-height: 1.2;
  margin-bottom: 0;
  padding-bottom: 0;
}

.ligne3 {
  display: grid;
  padding-left: 5px;
  grid-template-columns: 1fr 2.5fr 2.5fr;
  align-items: start;
  margin-top: 0;
  padding-top: 0;
  line-height: 1.2;
  margin-bottom: 0;
  padding-bottom: 0;
}

.element {
  margin-top: 1.5px;
  margin-bottom: 10px;
  font-weight: normal;
}

.element-i {
  margin-top: 1.5px;
  margin-bottom: 10px;
  margin-left: 1em;
  font-style: italic;
  font-size: small;
}

.titre {
  font-weight: bold;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.annee {
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
  padding: 0;
  margin-right: 0.75em;
}

.pif {
  padding-left: 5px;
}

.intro {
  margin-top: 72px;
  padding: 24px;
}

.intro h2 {
  font-family: estrella;
  font-size: 48px;
  margin-bottom: 16px;
  padding-left: 24px;
}

.textintro {
  padding: 24px;
  width: 60%;
  /* Prend 90% de la largeur de l'écran */
  max-width: 600px;
  /* Mais ne dépasse jamais 600px */
  margin: 0 auto;
}